<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Congratulations</title>
	<link href="/static/favicon/favicon.ico" mce_href="/static/favicon/favicon.ico" rel="icon"
		  type="image/x-icon">

	<!-- meta tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">

	
	<!-- custom css file -->
	<link href="/static/myError/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!-- //custom css file -->

	<!-- google fonts 
	<link href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">-->
	<!-- //google fonts -->

</head>
<body>

<!-- Error content -->
<div class="error_main w3_content">
	<h1 class="text-center">恭喜你正确完成了步骤</h1>
	<div class="content">
		<div class="error_content">
			<div class="content_left w3ls">
				<!--<h3>404</h3>
				<h4>Uh-Ah</h4>
				<h5>looks like, page doesn't exist</h5>-->
				<p>Please forgive me for any inconvenience during the use, because I really can't write other programs....</p>
				<div class="back_to_index">
					<a href="/" class="text-capitalize">HOME</a>  <a href="javascript:window.history.back();" class="text-capitalize">PREVIOUS</a>
				</div>
			</div>
			<div class="content_right agile-right text-center">
				<!--<img src="/static/myError/images/congratulations.jpg" alt="" />-->
				<!--<h3>search here</h3>
				<p>Please check the URL and try again</p>
				<div class="b-search w3-form">
					<form action="#" method="post">
						<input type="text" name="search" Placeholder="Enter your keywords here..." required="">
						<input type="submit" value="">
					</form>
				</div>-->
			</div>
		</div>
	</div>
	
	<!-- copyright -->
	<div class="copyright wthree text-center">
		<p>Copyright © 2020. All Rights Reserved | Design by hyp</p>
	</div>
	<!-- //copyright -->
	
</div>
<!-- Error content -->

</body>
</html>