<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>文章编辑</title>

    <link href="/static/favicon/favicon.ico" mce_href="/static/favicon/favicon.ico" rel="icon"
          type="image/x-icon">
    <!-- 设置全屏功能的css文件 -->
    <link rel="stylesheet" type="text/css" href="/static/wangeditor/wangEditor-fullscreen-plugin.css"></link>
    <script src="/static/bootstrap/js/jQuery.js"></script>
    <!--<script th:src="@{${#httpServletRequest.getContextPath()}+'/js/wangEditor.min.js'}"></script>-->
    <script src="/static/wangeditor/wangEditor.min.js"></script>
    <!-- 设置全屏功能的js文件 -->
    <script src="/static/wangeditor/wangEditor-fullscreen-plugin.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/wangeditor/jquery.slim.min.js"></script>
    <script src="/static/wangeditor/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="/static/videoImg/css/light-box.css">
    <link rel="stylesheet" href="/static/videoImg/css/templatemo-style.css">

    <link href="/static/css/googleapis.css" rel="stylesheet">

    <script src="/static/videoImg/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    <script src="/static/videoImg/js/plugins.js"></script>
    <script src="/static/videoImg/js/main.js"></script>


    <script>
        /*编辑器编辑后，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库*/
        function modifyContent() {
            var introduce = document.getElementById("article");
            introduce.value = editor.txt.html();
        }
    </script>
</head>
<body>

<nav>
    <div class="logo">
        <a href="/">YAPEI<em>H</em></a>
    </div>
    <div class="menu-icon">
        <span></span>
    </div>
</nav>

<div style="position: relative;
  width: 100%;
  height: 11%;
  overflow: hidden;
  z-index: 1;">
    <div style="
  z-index: 9999;
  background: #313131;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
  "></div>
</div>


<section class="overlay-menu">
    <div class="container">
        <div class="row">
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="https://github.com/heyapei">GITHUB</a>
                    </li>
                    <li>
                        <!-- <a href="javascript:alert('日志系统还没有写好')">日记</a>-->

                        <a href="/journal">日记</a>


                    </li>


                    <li>
                        <a href="javascript:showPicture()">照片墙</a>
                    </li>


                </ul>
                <p>你点不动，也别点</p>
            </div>
        </div>
    </div>
</section>

<script>
    function showPicture() {

        var reason = window.prompt("资源敏感,请输入密钥", "");
        //单纯判断用户是否填写“审核不通过理由”：
        if (reason) {
            //用户填写了理由
        } else {
            //用户没有填写理由 要区分用户不输入内容点击的是“确定”还是“取消”：
            if (reason) {
                //点击的是“确定”
                return;

            } else if (reason === "") {
                // 用户没有输入内容点击的“确定”
                reason;

            } else {
                //点击的是“取消”
                return;
            }
        }


        post('/picturewall/showpicture', {passWord: reason});

    }

    function post(url, params) {
        var temp = document.createElement("form");
        temp.action = url;
        temp.method = "post";
        temp.style.display = "none";
        for (var x in params) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = params[x];
            temp.appendChild(opt);
        }
        document.body.appendChild(temp);
        temp.submit();
        return temp;
    }
</script>


<div class="container">
    <h2>您已经进入日记编辑界面</h2>

    <form action="journaladd" method="post" onsubmit="modifyContent()">
        <div class="form-group">
            <label for="title">日记标题</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="文章标题"
                   th:value="${journal?.title()}" required>
        </div>


        <div class="form-group">
            <label for="title">创建人</label>
            <input type="text" class="form-control" id="createUser" name="createUser" placeholder="创建人"
                   th:value="${journal?.createUser}" required>
        </div>

        <div class="form-group">
            <label for="desci">简介</label>
            <textarea class="form-control" id="desci" rows="3" name="explainWord" placeholder="简介 内容不要太多"
                      th:text="${journal?.explainWord}" required></textarea>
        </div>


        <div class="form-group">
            <label for="desci">密码</label>
            <input type="text" class="form-control" id="passWord" name="passWord" placeholder="密码 不填写为默认（000000）"
                   th:value="${journal?.passWord}" required>
        </div>


        <div id="editor">
            <p>记录点什么吧。</p>
        </div>

        <!-- 编辑器编辑，提交时执行js，获得编辑器的内容，赋值给textarea，用于向后台提交存入数据库 -->
        <textarea rows="5" cols="35" name="article" style="display:none;" id="article" ></textarea>
        <input id="submitArticleContent" th:value="${article?.getArticleContent()}" type="hidden">
        <script type="text/javascript">
            var E = window.wangEditor;
            var editor = new E('#editor');
            //开启debug模式
            editor.customConfig.debug = true;
            // 关闭粘贴内容中的样式
            editor.customConfig.pasteFilterStyle = false
            // 忽略粘贴内容中的图片
            editor.customConfig.pasteIgnoreImg = true
            // 使用 base64 保存图片
            //editor.customConfig.uploadImgShowBase64 = true
            editor.customConfig.uploadFileName = "file";
            editor.customConfig.uploadImgServer = '/journal/imgUpload';
            editor.customConfig.debug = true;
            //自定义上传图片事件
            editor.customConfig.uploadImgHooks = {
                before: function (xhr, editor, files) {

                },
                success: function (xhr, editor, result) {
                    console.log("上传成功");
                },
                fail: function (xhr, editor, result) {
                    console.log("上传失败,原因是" + result);
                },
                error: function (xhr, editor) {
                    console.log("上传出错");
                },
                timeout: function (xhr, editor) {
                    console.log("上传超时");
                },
                customInsert: function (insertImg, result, editor) {
                    // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                    // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果
                    // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                    var url = result.url;
                    insertImg(url)
                    // result 必须是一个 JSON 格式字符串！！！否则报错
                }
            };
            // 或者 var editor = new E( document.getElementById('editor') )
            editor.create()
            E.fullscreen.init('#editor');
            /*回显*/
            var introduce = $(" #submitArticleContent ").val();
            if (introduce != null) {
                editor.txt.html(introduce);
            }
        </script>
        <br/>
        <input type="submit" class="btn btn-success">
    </form>
</div>

<div style="margin-top: 50px">

</div>
<!--加载页脚-->
<footer>
    <div class="container-fluid">
        <div class="col-md-12">
            <p>Copyright © 2020. All Rights Reserved | Design by hyp</p>
        </div>
    </div>
</footer>
</body>

</html>